/* ===================
	Author: Glasshouse
	Index:		
		1. Colors
		2. Backgrounds
		3. Borders	
 ===================*/

/*------------------- Colors -------------------*/
.highlight  {
  color: #000;     /* Black */
}
#wrapper, #loginForm .loginOptions a:hover,
h1, h2, h4, p, ul, span, dl dd, input, select, textarea, .optionsRibbon ul li a,
header .dropDown a, nav.mainNav .dropDownHeading, nav#leftColumn a:not(.normalLink), .rightColumn, .rightColumn ul li a + a:not(.rightCategories), #facebox .footer, .facebox-content,
table, table a:hover, table a:hover span, #TableA a:hover span, #TableB a:hover span, table span a:hover, ul.calendarLegend, table .highlight, .tooltip, .tooltipBot,
ul.tabnav li a:hover, nav#leftColumn ol li ul.tabnav a:hover, ul.tabnav li a.selected, nav#leftColumn ul.tabnav a.selected, ul.tabnav .dropDown a, nav#leftColumn ol.thinMainNav.hoverMainNav > li > a, #centreColumn .rightColumn h2, ul.tabnav li a.selected span, ul.tabnav li a:hover span, .contentBlock .sideText, a.tableLink2, a.tableLink2 *, table.plansComparisonHeader th h3,
.centerHeading a, .centerHeading a:hover
{
  color: #222;  /* Dark Gray */
}
.catalog_boxes .content > div, .catalog_boxes .lightText, .catalog_courses .content li:nth-child(odd), input.placeholder {
  color: #989898; /* Mid gray */
}
.rightColumn ul li a.dueLink span:last-child, .comment .metadata .comment_date, #rightColumn ul li a.dueLink span:last-child, ul.tabnav > li > a, ul.tabnav .dropDown a:hover, nav#leftColumn ul.tabnav a, ul.tabnav li a span, .calendar-agenda-day .event-heading span, .remainingPts, .remainingPts span, ul.playerStatusSml li.level span {
  color: #a8a8a8;  /* Light Gray */
}
input[type="submit"], input[type="button"], button,
header h1 a, header h1 a:hover, nav.mainNav ol > li > a, .quickLinks a.username, footer a, footer a:hover, a.back-to-top span
{
  color: #fff;     /* White */
}

/*------------------- Backgrounds -------------------*/
footer {
  background: #5e5f5f;  /* Dark gray */
}
nav .icon {
  fill: #5e5f5f
}
nav#leftColumn ol.thinMainNav {
  background: #acacac;  /* Lighter dark gray */
}
nav.mainNav .dropDown ul li:hover, .linksHolder .dropDown a:hover, .linksHolder .dropDown a:focus, nav#leftColumn .dropDown a:hover, table .dropDown a:hover, #Table .highlight, #Table .dropDownHolder > a:hover, .optionsRibbonTable .dropDown ul li > a:hover, #rubric table td.rubricHover.highlight, .header.new_tile_header
{
  background: #E8E8E8;  /* Lighter dark gray */
}
#TableB td.student .dropDownHolder > a:hover, #TableB td.student a.highlight
{
  background: #dfdfdf;  /* Lighter dark gray */
}
table th, nav.mainNav .dropDownHeading, table .tableDropdown > a:hover, table .tableDropdown > a.highlight, .optionsRibbonTable .dropDownHolder > a.highlight, .optionsRibbonTable .dropDownHolder > a:hover {
  background: #efefef;  /* Mid gray */
}
#Table2 table th {
  background: none
}
html, body, body:not(.modern_theme) .rightColumn h2, .comment-reply, .tooltipContactLinks, .tooltip .arrow:after, table tr.not_current_lesson, #TableF tr.odd td, a.contentBlock:hover, table.rubric td.highlight
{
  background: #f5f5f5;  /* Light gray */
}
header .dropDown, nav#leftColumn .dropDown, table .dropDown, .optionsRibbonTable .dropDown, ul.tabnav li .dropDown, table.calendar td.anotherMonth
{
  background: #fcfcfc;  /* Lighter gray */
}
#wrapper, nav#leftColumn .highlight, nav#leftColumn .selected {
  background: #fff; /* White */
}
.difSignIn:hover, input[type="submit"]:hover, input[type="button"]:hover, button:hover, .quickLinks > a:hover > i:after, .quickLinks > a:focus > i:after, .quickLinks > div > a:hover > i:after, .quickLinks > div > a:focus > i:after, a.rightMobileBar:hover i:after, nav.mainNav .cta a:hover, nav.mainNav .cta a:focus, nav#leftColumn ol li a.centreIcon:hover, footer a:hover
{
  opacity: .7; /* Lighter shade of current color for hovers */
}
.catalog_boxes div.price.red, .catalog_boxes .footer div.label.box.red {
  background: #DB0000;
}
.dashboard_blocks a:nth-child(4n+1):before {background-color: #3A919E}
.dashboard_blocks a:nth-child(4n+2):before {background-color: #D44779}
.dashboard_blocks a:nth-child(4n+3):before {background-color: #5B636B}
.dashboard_blocks a:nth-child(4n+4):before {background-color: #95A4B3}

/*------------------- Borders -------------------*/
nav.mainNav ol > li {
  border: 1px solid transparent;  /* Hidden borders */
}
header {
  border: 0;
}
footer .footerLinks a[rel="facebox"]:not(:first-child) {
  border: 1px solid #6d6e6e;  /* Lighter dark gray */
}
.dashboard_blocks a:hover, .catalog_categories > a:hover, .catalog_top_heading.catalog_boxes:not(.app_boxes) > div:hover {
  border-color: #9c9c9c;
}
.dashboard_blocks a, .catalog_categories > a, .catalog_boxes > div,
.dashboard_blocks a:hover, .new_tiles .catalog_categories > a:hover, .new_tiles .catalog_top_heading.catalog_boxes:not(.app_boxes) > div:hover, .lesson_boxes > *:not(.no_hover):hover, .lesson_boxes > *:not(.no_hover):hover, .user_boxes > *.highlight, .user_boxes > a:hover {
  border: 1px solid #c4c4c4
}
#contentWrap.hasThinNav.hasLeftColumn:before {
  border: 1px solid #acacac;  /* Lighter dark gray */
}
.hasLeftColumn:before, nav#leftColumn h3, nav#leftColumn ol li hr, nav#leftColumn ol > li > a:not(.centreIcon):hover, nav#leftColumn ol > li > ul li a:hover, nav#leftColumn a.highlight, nav#leftColumn a.selected, .dropDownHolder .dropDown, .optionsRibbon ul, .optionsRibbon ul li, .threeColumnBlock, .tooltip, .tooltipBot, .tooltip .arrow:after, .tooltipBot .arrow:after, table .tableDropdown > a:hover, table .tableDropdown > a.highlight, a.contentBlock, a.tableLink2:hover, .rightColumn .block
{
  border: 1px solid #c8c8c8;  /* Mid gray */
}
.modern_theme ul.tabnav, .modern_theme ul.tabnav li a.selected:after {
  border-color: #c7c7c7
}
nav.mainNav li > .dDownShow, nav.mainNav .dropDown ul li, nav.mainNav .dropDownHeading, nav.mainNav .dropDown p, nav.mainNav .cta,
hr, captcha, nav.mainNav .wideDropDown, nav.mainNav .dropDownHeading, nav.mainNav .scroll, nav.mainNav .cta,
table th, table td, .threeColumnBlock:before, .threeColumnBlock:after, #Table2 table, #TableD table, #TableE table, #TableF table,
ul.tabnav, ul.tabnav li a.selected:after, .messagesHolder.dropDownHolder .dropDown, .notificationsHolder.dropDownHolder .dropDown, .columnBlock > div,
.dashboard_blocks a, .new_tiles .catalog_categories > a, .new_tiles .catalog_boxes > *, .modern_theme .rightColumn .block, .user_boxes > *
{
  border: 1px solid #e2e0e0;  /* Light gray */
}
.comment, table.plansComparisonHeader tr th, table.plansComparisonBody tr td {
  border: 1px solid #efefef;  /* Lighter gray */
}
.messagesHolder.dropDownHolder .dropDown .cta,
.notificationsHolder.dropDownHolder .dropDown .cta, nav#leftColumn .dropDown .cta, nav#leftColumn .columnListing + .columnListing {
  border-top: 1px solid #e2e0e0;
}

/*------------------- Input Placeholders -------------------*/
input::-webkit-input-placeholder {color: #5e5f5f;}
input::-moz-placeholder 		 {color: #5e5f5f; opacity: 1;}
input:-ms-input-placeholder      {color: #5e5f5f;}
