body {
    background:linen;
}
span {
    word-wrap: break-word;
}
input {
    float:right;
}
.warning {
    background:#ffa;
}
.error {
    background:#faa;
}
.success {
    background:#afa;
}
.info {
    font-style:italic;
}
.hide {
    display:none;
}
.visible {
    display:block;
}
#form {
    width:500px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
* {
    font-family:monospace;
}
