body {
    background:linen;
}
span {
    word-wrap: break-word;
}
input {
    float:right;
}
a:not(#home) {
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 5px;
    color: gray;
    background: lightyellow;
    padding: 2px;
    margin: 3px;
}
a:not(#home):hover {
    color: black;
    background: lightgoldenrodyellow;
}
nav {
    margin:auto;
}
div {
    width: 700px;
    border: 2px solid black;
    border-radius:15px;
    padding: 5px;
    margin:auto;
}
h1 {
    text-align:center;
    font-size:50px;
    color:black;
    text-decoration:none;
}
#home {
    text-decoration:none;
}
p {
    padding:15px;
}
.warning {
    background:#ffa;
}
.error {
    background:#faa;
}
.success {
    background:#afa;
}
.info {
    font-style:italic;
}
.hide {
    display:none;
}
.visible {
    display:block;
}
* {
    font-family:monospace;
}
