body {
    background:linear-gradient(white,tan);
    height:100%;
    background-size:cover;
}
html {
    min-height:100%;
}
span {
    word-wrap: break-word;
}
input {
    float:right;
}
input[type="radio"] {
    float:none;
}
nav a {
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 5px;
    color: gray;
    background: lightyellow;
    padding: 3px;
    margin: 2px;
}
nav a:hover {
    color: black;
    background: lightgoldenrodyellow;
}
nav {
    text-align:center;
}
code {
    background: lightgrey;
    padding: 2px;
    border-radius: 4px;
    color:darkred;
}
div {
    width: 700px;
    border: 2px solid black;
    border-radius:15px;
    padding: 5px;
    margin:auto;
}
h1 {
    text-align:center;
    font-size:50px;
    color:black;
    text-decoration:none;
}
#home {
    text-decoration:none;
    border:none;
}
p {
    padding-left:15px;
    padding-right:15px;
}
a {
    margin:auto;
}
.warning {
    background:#ffa;
}
.error {
    background:#faa;
}
.success {
    background:#afa;
}
.info {
    font-style:italic;
}
.hide {
    display:none;
}
.visible {
    display:block;
}
* {
    font-family:monospace;
}
